<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/js/bootstrap.js')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
</head>

<body>
<div class="title">
    <div class="text">Carton</div>
    <div class="uname">Jeremy</div>
    <!--<div class="info"><div class="log"><img src="{{url_for('static', filename='img/logo.jpeg')}}" alt="logo"></div><span>Daniel</span></div>-->
</div>
<div class="info"><div class="log"><img src="{{url_for('static', filename='img/logo.jpeg')}}" alt="logo"></div></div>
</body>
</html>
